{% extends "lista/base.html" %}
{% block content %}
<h1>Agragar items</h1>

<form class="forma" action="{% url 'add_items' lista_id=lista.id%}" method="post">
  {% csrf_token %}
  <div class="form-inputs text-center">
    {{ form }}
    <br>
  </div>
  <button type="submit" class="btn btn-success" name="button">Agregar</button>
  <a href="{% url 'mis_listas' %}" class="btn btn-primary">Regresar</a>
</form>
<div class="items-editar">
  <ul class="">
    {% for item in items %}
    <li>
      <span class="{{ item.crusado|yesno:'crossed, ' }}">{{item.nombre}}</span>
      {# <span>{{item.cantidad}}</span> #}
      <a href="{% url 'toogle_cross' item_id=item.id %}" class="btn btn-warning"><i class="fas fa-slash"></i></a>
      <a href="{% url 'delete_item' item_id=item.id %}" type="button" name="button" class='btn btn-danger'><i class="fas fa-trash-alt"></i></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
