{% extends "lista/base.html" %}
{% block content %}
    <h1 class="text-center">Tus listas</h1>
    <p class="text-center">
      <a href="{% url 'add_lista' %}" class='btn btn-primary'><i class="fas fa-plus"></i></a>
    </p>
    {% if listas %}
    {% for lista in listas %}
    <div class="{% if forloop.counter < listas|length or forloop.counter|divisibleby:2 %} float-left col-lg-6 {% else %} ultima col-lg-8 {% endif %}" >
    <div class="jumbotron listas vertical-center center-vertical">
    <div class="card  text-center">
      <div class="card-body">
        <div class="card-title">
          {{lista.nombre}}
          <a class="btn btn-info" data-toggle="collapse" href="#itemsLista{{lista.id}}" role="button" aria-expanded="false" aria-controls="itemsLista{{lista.id}}"><i class="far fa-eye"></i></a>
        </div>
        <div class="collapse items" id="itemsLista{{lista.id}}">
          {% if lista.listaitem_set.all %}
          <ul>
            {% for item in lista.listaitem_set.all  %}
            <li class="{{ item.crusado|yesno:'crossed, ' }}">{{item.nombre}}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>Esta lista esta vacia</p>
          {% endif %}
        </div>
        <a class='btn btn-success' href="{% url 'add_items'  lista_id=lista.id%}"><i class="fas fa-plus"></i></i></a>
        <a class='btn btn-primary' href="{% url 'edit_lista'  lista_id=lista.id%}"><i class="fas fa-edit"></i></a>
        <a class='btn btn-danger' href="{% url 'delete_lista'  lista_id=lista.id%}"><i class="fas fa-trash-alt"></i></a>
      </div>
    </div>
  </div>
  </div>
    {% endfor %}
    {% else %}
    <div class="">
      <p>No tienes ninguna lista</p>
    </div>
    {% endif %}
    </div>
{% endblock %}
